# this needs to be included to get access to the Vagrant::Configuration singleton
require File.expand_path(File.join(File.dirname(__FILE__),"lib","VagrantfileCommon"))

# place all your custom configuration below this line
vconfig = Vagrant::Configuration.get

## uncomment this if you want to set a non-default name
# vconfig.setName("Project Name")

vconfig.addRecipe("apt")
# vconfig.addRecipe("guest-additions",{
#  :version => "4.1.8" # Virtualbox version
#})
vconfig.addRecipe("nginx::phpsite",{
  :server_name => 'localhost',
  :root => File.join("/vagrant")
})
vconfig.addRecipe("php-fpm")
vconfig.addRecipe("phpunit")
vconfig.addRecipe("zend")
vconfig.addRecipe("bash")
