# this needs to be included to get access to the Vagrant::Configuration singleton
require File.expand_path(File.join(File.dirname(__FILE__),"lib","VagrantfileCommon"))

# place all your custom configuration below this line
vconfig = Vagrant::Configuration.get

vconfig.addRecipe("apt")
# vconfig.addRecipe("guest-additions")
vconfig.addRecipe("nginx::phpsite",{
  :nginx => {
    :server_name => 'localhost',
    :root => File.join("/vagrant/public")
  }
})
vconfig.addRecipe("php-fpm")
vconfig.addRecipe("phpunit")
vconfig.addRecipe("zend")
