# this needs to be included to get access to the Montage::Vagrant singleton and setup a default vagrant configuration
require File.expand_path(File.join(File.dirname(__FILE__),"plugins","Vagrant","config","Vagrantfile"))

# place all your custom configuration below this line
vconfig = Montage::Vagrant.configure

vconfig.addRecipe("apt")
vconfig.addRecipe("guest-additions")
vconfig.addRecipe("nginx")
vconfig.addRecipe("nginx::phpsite",{
  :nginx => {
    :server_name => 'localhost',
    :root => File.join("/vagrant/public")
  }
})
vconfig.addRecipe("php-fpm")
vconfig.addRecipe("phpunit")
vconfig.addRecipe("zend")
